@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
  text-align: center;
}
html,
body {
  scroll-behavior: smooth; /* Thử loại bỏ hoặc thay đổi nếu cần */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container-carousel .slick-slide {
  display: flex;
  justify-content: center;
}
/* Hiển thị 10 slide trên màn hình lớn */
@media (min-width: 1024px) {
  .container-carousel .slick-slide {
    width: 10%; /* 10 slide trên mỗi hàng */
  }
}

/* Hiển thị 5 slide trên màn hình vừa */
@media (min-width: 768px) and (max-width: 1023px) {
  .container-carousel .slick-slide {
    width: 20%; /* 5 slide trên mỗi hàng */
  }
}

/* Hiển thị 4 slide trên màn hình nhỏ */
@media (max-width: 767px) {
  .container-carousel .slick-slide {
    width: 25%; /* 4 slide trên mỗi hàng */
  }
}
.container-carousel .slick-prev {
  @apply text-[rgba(0,0,0,.54)] rounded-xl bg-white  border size-6 absolute -left-3 opacity-100;
  transform: translateX(calc(-50%+0px));
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.1s cubic-bezier(0.4, 0, 0.6, 1);
}
.container-carousel .slick-next {
  @apply text-[rgba(0,0,0,.54)] rounded-xl bg-white border size-6 absolute -right-3 opacity-100;
  transform: translateX(calc(50%+0px));
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.1s cubic-bezier(0.4, 0, 0.6, 1);
}
.container-carousel .slick-prev::after {
  @apply absolute size-2 top-2 left-2 transition-all duration-100 ease-in-out;
}
.container-carousel .slick-next::after {
  @apply absolute size-2 top-2 left-[6px] transition-all duration-100 ease-in-out;
}
.container-carousel .slick-prev:hover {
  @apply text-[rgba(0,0,0,.54)] rounded-full bg-white  border size-[50px]  absolute -left-[26px] z-50 opacity-100;
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.1s cubic-bezier(0.4, 0, 0.6, 1);
}
.container-carousel .slick-next:hover {
  @apply text-[rgba(0,0,0,.54)] rounded-full bg-white border size-[50px]  absolute -right-[26px] z-50 opacity-100;
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.1s cubic-bezier(0.4, 0, 0.6, 1);
}
.container-carousel .slick-prev:hover::after {
  @apply top-4 left-5 size-4;
  border-inline-width: 4px 0;
  border-block-width: 4px 0;
}
.container-carousel .slick-next:hover::after {
  @apply top-4 left-3 size-4;
  border-inline-width: 4px 0;
  border-block-width: 4px 0;
}
.container-carousel.not-enough-slide .slick-track {
  display: flex;
  justify-content: flex-start; /* Đảm bảo các item căn trái, không căn giữa */
  transform: none !important; /* Tắt bất kỳ transform nào ảnh hưởng đến vị trí */
}
.custom-scrollbar {
  direction: rtl;
  overflow-y: auto; /* Vẫn cho phép scroll */
}
.custom-scrollbar > * {
  direction: ltr;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 1px; /* Chiều rộng của scrollbar */
  margin-left: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888; /* Màu của thanh cuộn */
  border-radius: 10px; /* Bo góc */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Màu khi hover */
}
.table-item {
  @apply border-[1px] text-right p-2 text-slate-500;
}

.time-frame-item {
  @apply flex flex-col text-center px-6 py-3 w-60 bg-neutral-700 text-stone-300 cursor-pointer;
}
.time-frame-item.selected {
  @apply bg-red-500 text-white;
}
